{% extends "layout/base.html" %}
{% block title %}Cast Your Vote{% endblock %}
{% block content %}
<h2 class="mb-4">Choose your favorite language</h2>
<form method="POST">
    <div class="row">
        {% for opt in options %}
        <div class="col-md-6 mb-3">
            <div class="card p-3">
                <img src="{{ url_for('static', filename='icons/' + opt.icon) }}" class="img-fluid mb-2" style="height: 150px;">
                <h5>{{ opt.name }}</h5>
                <input type="radio" name="option" value="{{ opt.id }}" required>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success mt-3">Submit Vote</button>
</form>
{% endblock %}
