{% extends 'layout/base.html'%}

{% block title %}

ADMIN TEMPLATE
{% endblock %}



{% block content %}

<h1 class="text-center" >ADD NEW BLOGS</h1>


<form class="row d-flex flex-column  align-items-center g-3" method="post" action="#">
  <div class="col-md-3">
    <label for="inputEmail4" class="form-label">TITLE</label>
    <input type="text" name ="title" class="form-control" id="inputEmail4" required>
  </div>
  <div class="col-md-3">
    <label for="inputPassword4" class="form-label">Content</label>
    <textarea name="content" ></textarea>
</div>2
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-primary">ADD</button>
  </div>
</form>



{% endblock %}